@using Microsoft.Extensions.Localization
@using Volo.Abp.PermissionManagement.Localization
@inject IStringLocalizer<AbpPermissionManagementResource> L
<Modal @ref="_modal">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
        <ModalHeader>
            <ModalTitle>Edit role</ModalTitle>
            <CloseButton Clicked="CloseModal" />
        </ModalHeader>
        <ModalBody MaxHeight="50">
            @if (_groups != null)
            {
                @foreach (var group in _groups)
                {
                    <h3>@group.DisplayName</h3>

                    @foreach (var permission in group.Permissions)
                    {
                        <Field Margin="permission.ParentName != null ? Blazorise.Margin.Is3.OnAll : Blazorise.Margin.Is0.OnAll">
                            <Check @bind-checked="@permission.IsGranted" TValue="bool">@permission.DisplayName</Check>
                        </Field>
                    }
                }
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="CloseModal">@L["Cancel"]</Button>
            <Button Color="Color.Primary" Clicked="SaveAsync">@L["Save"]</Button>
        </ModalFooter>
    </ModalContent>
</Modal>