@using Blazorise
@using Microsoft.Extensions.Options

@inject IOptions<PageHeaderOptions> Options

<Row Class="entry-row">
    @if(Options.Value.RenderPageTitle)
    {   
        <Column ColumnSize="ColumnSize.IsAuto">
            <h5 class="content-header-title">@PageLayout.Title</h5>
        </Column>
    }

    @if (Options.Value.RenderBreadcrumbs &&  PageLayout.BreadcrumbItems.Any())
    {
        <Column ColumnSize="ColumnSize.IsAuto.OnWidescreen" Padding="Padding.Is0.FromStart.OnWidescreen">
            <Breadcrumb Mode="@(BreadcrumbShowCurrent ? BreadcrumbMode.Auto : BreadcrumbMode.None)">
                @if (BreadcrumbShowHome)
                {
                    <BreadcrumbItem>
                        <BreadcrumbLink To="/">
                            <Icon Name="IconName.Home" />
                        </BreadcrumbLink>
                    </BreadcrumbItem>
                }
                @foreach (var item in  PageLayout.BreadcrumbItems)
                {
                    <BreadcrumbItem>
                        <BreadcrumbLink To="@item.Url">
                            @if (item.Icon != null)
                            {
                                <Icon Name="@item.Icon" />
                            }
                            @item.Text
                        </BreadcrumbLink>
                    </BreadcrumbItem>
                }
            </Breadcrumb>
        </Column>
    }

    @if(Options.Value.RenderToolbar)
    {
        <Column>
            <Row Class="justify-content-end mx-n1">
                @if (Toolbar == null)
                {
                    @ChildContent
                }
            
                @foreach (var toolbarItemRender in ToolbarItemRenders)
                {
                    <Column ColumnSize="ColumnSize.IsAuto" Class="px-1 pt-2">
                        @toolbarItemRender
                    </Column>
                }
            </Row>
        </Column>
    }
</Row>
