@using Blazorise
<Row Class="entry-row">
    <Column ColumnSize="ColumnSize.IsAuto">
        <h1 class="content-header-title">@Title</h1>
    </Column>
    @if (BreadcrumbItems.Any())
    {
        <Column ColumnSize="ColumnSize.IsAuto.OnWidescreen" Padding="Padding.Is0.FromLeft.OnWidescreen">
            <Breadcrumb Mode="@(BreadcrumbShowCurrent ? BreadcrumbMode.Auto : BreadcrumbMode.None)">
                @if (BreadcrumbShowHome)
                {
                    <BreadcrumbItem>
                        <BreadcrumbLink To="/">
                            <Icon Name="IconName.Home" />
                        </BreadcrumbLink>
                    </BreadcrumbItem>
                }
                @foreach (var item in BreadcrumbItems)
                {
                    <BreadcrumbItem>
                        <BreadcrumbLink To="@item.Url">
                            @if (item.Icon != null)
                            {
                                <Icon Name="@item.Icon" />
                            }
                            @item.Text
                        </BreadcrumbLink>
                    </BreadcrumbItem>
                }
            </Breadcrumb>
        </Column>
    }
    <Column>
        <Row Class="justify-content-end mx-n1">
            @if (Toolbar == null)
            {
                @ChildContent
            }
            
            @foreach (var toolbarItemRender in ToolbarItemRenders)
            {
                <Column ColumnSize="ColumnSize.IsAuto" Class="px-1 pt-2">
                    @toolbarItemRender
                </Column>
            }
        </Row>
    </Column>
</Row>
