@using Volo.Abp.AspNetCore.Mvc.AntiForgery
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Bundling
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Components
@using Volo.AbpWebSite.Bundling
@using Volo.AbpWebSite.Pages.Shared.Components.Footer
@using Volo.AbpWebSite.Pages.Shared.Components.Header
@using Volo.AbpWebSite.Pages.Shared.Components.StandardMeta
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IBrandingProvider BrandingProvider
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie();
}
<!DOCTYPE html>

<html lang="en">
<head>
    <title>@(ViewBag.Title == null ? "abp.io" : ViewBag.Title)</title>
    @await Component.InvokeAsync(typeof(StandardMetaViewComponent))
    <abp-style-bundle name="@StandardBundles.Styles.Global" />
    @RenderSection("styles", false)
</head>
<body class="abp-empty-layout">

    <div class="container-fluid">
        @RenderBody()
    </div>

    <abp-script-bundle name="@StandardBundles.Scripts.Global" />

    <script type="text/javascript" src="~/Abp/ApplicationConfigurationScript"></script>
    <script type="text/javascript" src="~/Abp/ServiceProxyScript"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49982725-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-49982725-4');
    </script>

    @RenderSection("scripts", false)

</body>
</html>