@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.CmsKit.Admin.Web.Pages
@using Volo.CmsKit.Localization
@using Volo.CmsKit.Admin.Web.Pages.CmsKit.Contents;
@inject IHtmlLocalizer<CmsKitResource> L


@model AddWidgetModal;
@{
    Layout = null;
}

@section scripts
{
    <abp-script src="/Pages/CmsKit/Contents/addWidgetModal.js" />
}

<abp-modal size="Large" id="addWidgetModal">

    <abp-modal-header title="@L["Edit"].Value"></abp-modal-header>

    <abp-modal-body>
        <div class="container row">
            <abp-select asp-for="ViewModel.Widget" />
            <div id="PropertySideId">
                @foreach (var item in Model.ViewModel.Properties.FirstOrDefault(p=>p.Key == "Poll").Properties)
                {
                    <div class="form-group">
                    <label for="@(item)">@item</label>
                    <input class="properties form-control" id="@(item)" type="text" />
                    </div>
                }
            </div>
            <button class="btn btn-primary float-end" type="submit" id="save-changes">@L["Save"]</button>
        </div>
    </abp-modal-body>
    
</abp-modal>
