@page "{handler?}"
@{
    Layout = null;
}
@using Volo.ClientSimulation
@model Volo.ClientSimulation.Web.Pages.SimulationAreaModel
<abp-alert alert-type="Primary">
    <form class="d-inline" id="StartButtonForm" method="post" asp-page-handler="Start" data-ajaxForm="true">
        <abp-button button-type="Primary" type="submit" disabled="@(Model.Simulation.State != SimulationState.Stopped)">Start</abp-button>
    </form>
    <form class="d-inline" id="StopButtonForm" method="post" asp-page-handler="Stop" data-ajaxForm="true">
        <abp-button button-type="Primary" type="submit" disabled="@(Model.Simulation.State != SimulationState.Started)">Stop</abp-button>
    </form>
    <span class="ml-3">
        @Model.Simulation.State
    </span>
</abp-alert>
<abp-card class="mt-3">
    <abp-card-body>
        @foreach (var clientHandler in Model.Simulation.ActiveClients)
        {
        <span class="simulation-client">
            [@clientHandler.Client.State] @clientHandler.Client.Scenario.GetDisplayText(): @clientHandler.Client.Scenario.CurrentStep.GetDisplayText()
        </span>
        }
    </abp-card-body>
</abp-card>