@using System.Threading.Tasks
@model Volo.Abp.UI.Navigation.ApplicationMenu
<h2>@Model.DisplayName (BOOTSTRAP)</h2>
<ul>
    @foreach (var menuItem in Model.Items)
    {
        <li>
            <a href="@menuItem.Url">@menuItem.DisplayName</a>
            @if (menuItem.Items.Any())
            {
                <ul>
                    @foreach (var childMenuItem in menuItem.Items)
                    {
                        <li>
                            <a href="@childMenuItem.Url">@childMenuItem.DisplayName</a>
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>