@page "/identity/role-management"
@attribute [Authorize]
@using Volo.Abp.Identity
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Application.Dtos
@using Volo.Abp.Identity.Localization
@inject IIdentityRoleAppService RoleAppService
@inject IStringLocalizer<IdentityResource> L
@inject IUiMessageService UiMessageService
@* ************************* PAGE HEADER ************************* *@
<Row>
    <Column ColumnSize="ColumnSize.Is6">
        <h1>@L["Roles"]</h1>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <Paragraph Alignment="TextAlignment.Right">
            <Button Color="Color.Primary" Clicked="OpenCreateModal">@L["NewRole"]</Button>
        </Paragraph>
    </Column>
</Row>

@* ************************* DATA GRID ************************* *@
<DataGrid TItem="IdentityRoleDto"
          Data="_roles"
          ReadData="OnDataGridReadAsync"
          TotalItems="_totalCount"
          ShowPager="true"
          PageSize="@LimitedResultRequestDto.DefaultMaxResultCount">
    <DataGridColumns>
        <DataGridColumn Width="150px" TItem="IdentityRoleDto" Field="@nameof(IdentityRoleDto.Name)" Sortable="false" Caption="@L["Actions"].Value">
            <DisplayTemplate>
                <Dropdown>
                    <DropdownToggle Color="Color.Primary">
                        @L["Actions"]
                    </DropdownToggle>
                    <DropdownMenu>
                        <DropdownItem Clicked="() => OpenEditModalAsync(context.As<IdentityRoleDto>().Id)">@L["Edit"]</DropdownItem>
                        <DropdownItem>@L["Permissions"]</DropdownItem>
                        <DropdownDivider />
                        <DropdownItem Clicked="() => DeleteRoleAsync(context.As<IdentityRoleDto>())">@L["Delete"]</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="IdentityRoleDto" Field="@nameof(IdentityRoleDto.Name)" Caption="@L["RoleName"].Value">
            <DisplayTemplate>
                @(context.As<IdentityRoleDto>().Name)
                @if (context.As<IdentityRoleDto>().IsDefault)
                {
                    <Badge Color="Color.Primary">@L["DisplayName:IsDefault"]</Badge>
                }
                @if (context.As<IdentityRoleDto>().IsPublic)
                {
                    <Badge Color="Color.Light">@L["DisplayName:IsPublic"]</Badge>
                }
            </DisplayTemplate>
        </DataGridColumn>
    </DataGridColumns>
</DataGrid>

@* ************************* CREATE MODAL ************************* *@
<Modal @ref="_createModal">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
        <ModalHeader>
            <ModalTitle>@L["NewRole"]</ModalTitle>
            <CloseButton Clicked="CloseCreateModal" />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>@L["DisplayName:RoleName"]</FieldLabel>
                <TextEdit @bind-text="_newRole.Name" />
            </Field>
            <Field>
                <Check TValue="bool" @bind-checked="_newRole.IsDefault">@L["DisplayName:IsDefault"]</Check>
                <Check TValue="bool" @bind-checked="_newRole.IsPublic">@L["DisplayName:IsPublic"]</Check>
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="CloseCreateModal">@L["Cancel"]</Button>
            <Button Color="Color.Primary" Clicked="CreateRoleAsync">@L["Save"]</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@* ************************* EDIT MODAL ************************* *@
<Modal @ref="_editModal">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
        <ModalHeader>
            <ModalTitle>Edit role</ModalTitle>
            <CloseButton Clicked="CloseEditModal" />
        </ModalHeader>
        <ModalBody>
            <input type="hidden" name="ConcurrencyStamp" @bind-value="_editingRole.ConcurrencyStamp" />
            <Field>
                <FieldLabel>@L["DisplayName:RoleName"]</FieldLabel>
                <TextEdit @bind-text="_editingRole.Name" />
            </Field>
            <Field>
                <Check TValue="bool" @bind-checked="_editingRole.IsDefault">@L["DisplayName:IsDefault"]</Check>
                <Check TValue="bool" @bind-checked="_editingRole.IsPublic">@L["DisplayName:IsPublic"]</Check>
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="CloseEditModal">@L["Cancel"]</Button>
            <Button Color="Color.Primary" Clicked="UpdateRoleAsync">@L["Save"]</Button>
        </ModalFooter>
    </ModalContent>
</Modal>