@page
@inherits Volo.Blogging.Pages.Blog.BloggingPage
@using Microsoft.AspNetCore.Authorization
@using Volo.Blogging
@using Volo.Blogging.Pages.Blog.Posts
@inject IAuthorizationService Authorization
@model DetailModel
@{
    ViewBag.PageTitle = "Blog";
}
@section scripts {
    <abp-script-bundle name="@typeof(DetailModel).FullName">
        <abp-script src="/Pages/Blog/Posts/detail.js" />
        <abp-script src="/Pages/Blog/Shared/Scripts/blog.js" />
    </abp-script-bundle>
}
@section styles {
    <abp-style-bundle name="@typeof(DetailModel).FullName">
        <abp-style src="/Pages/Blog/Shared/Styles/blog.css" />
    </abp-style-bundle>
}
    <div class="vs-blog">
        <div class="vs-blog-header">
            <div class="vs-blog-title">
                <div class="row">
                    <div class="col">
                        <h1 class="my-0 display-inline-block">
                            @L["Volosoft"]
                            <small class="text-muted">
                                BLOG
                            </small>
                        </h1>
                    </div>
                    <div class="col-sm-4 text-right">
                        <br />
                        <a href="#">
                            <i class="fa fa fa-angle-left"></i> Blog
                        </a>
                        <span class="vs-seperator">|</span>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <span class="vs-seperator">|</span>
                        <a href="#">
                            <i class="fa fa-github"></i>
                        </a>
                        <span class="vs-seperator">|</span>
                        <a href="#">
                            <i class="fa fa-stack-overflow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mx-auto">
                <section class="hero-section">
                    <div class="hero-articles">
                        <div class="img-container" style="min-height: 480px; background: url(@Model.Post.CoverImage) center center no-repeat; background-size: cover; ">
                        </div>
                        <div class="hero-content">
                            <p class="tags">
                                @foreach (var tag in Model.Post.Tags)
                                {
                                    <a asp-page="/Blog/Posts/Index" asp-route-blogShortName="@Model.BlogShortName" asp-route-tagName="@tag.Name" class="tag">@tag.Name</a>
                                }
                            </p>
                            <h1>
                                <a href="#">@Model.Post.Title</a>
                            </h1>
                        </div>
                        <div class="article-owner">
                            <div class="article-infos">
                                <div class="user-card">
                                    <a href="#">
                                        <img src="https://placeimg.com/60/60/people" class="article-avatar">
                                    </a>
                                    <a href="#">
                                        <strong> Halil İbrahim Kalkan</strong>, @ConvertDatetimeToTimeAgo(Model.Post.CreationTime)
                                    </a>
                                    <span class="vs-seperator">|</span>
                                    <a href="#">
                                        <i class="fa fa-eye"></i> @Model.Post.ReadCount @L["Read"]
                                    </a>
                                    <span class="vs-seperator">|</span>
                                    <a href="#">
                                        <i class="fa fa-comment"></i> @Model.CommentCount @L["Comment"]
                                    </a>


                                    @if (await Authorization.IsGrantedAsync(BloggingPermissions.Posts.Update))
                                    {
                                        <span class="seperator">|</span>
                                        <a asp-page="./Edit" asp-route-postId="@Model.Post.Id" asp-route-blogShortName="@Model.BlogShortName">
                                            <i class="fa fa-pencil"></i>  @L["Edit"]
                                        </a>
                                    }
                                </div>
                            </div>
                        </div> 
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 mx-auto">
                <section class="post-content">
                    <p>@Html.Raw(Model.FormattedContent)</p>

                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="tags">
                    <h5>@L["TagsInThisArticle"]</h5>
                    @foreach (var tag in Model.Post.Tags)
                    {
                        <a asp-page="/Blog/Posts/Index" asp-route-blogShortName="@Model.BlogShortName" asp-route-tagName="@tag.Name" class="tag">@tag.Name</a>
                    }
                </div>
                <div class="comment-form mt-4">
                    <div class="vs-blog-title mb-0">
                        <h3>@L["LeaveComment"]</h3>
                    </div>
                    <div class="clearfix bg-light p-4">
                        <div>
                            <form method="post">
                                <input name="postId" value="@Model.Post.Id" hidden />
                                <input name="repliedCommentId" id="repliedCommentId" hidden />
                                <div class="form-group">
                                    <textarea class="form-control no-border" name="text" id="textBoxId" rows="4"></textarea>
                                </div>
                                <abp-button button-type="Primary" class="btn-rounded float-right" type="submit" text="@L["Submit"].Value" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="comment-area">


                    @foreach (var commentWithRepliesDto in Model.CommentsWithReplies)
                    {
                        <div class="media">
                            <img class="d-flex mr-3 rounded-circle comment-avatar" src="https://placeimg.com/120/120/people" alt="">
                            <div class="media-body">
                                <h5 class="comment-owner">
                                    Armağan Ünlü
                                    <span class="float-right">@ConvertDatetimeToTimeAgo(commentWithRepliesDto.Comment.CreationTime)</span>
                                </h5>
                                <p id="@commentWithRepliesDto.Comment.Id">
                                    @commentWithRepliesDto.Comment.Text
                                </p>
                                <div class="comment-buttons font-75 bg-light">

                                    <a href="#" class="tag replyLink" data-relpyid="@commentWithRepliesDto.Comment.Id">
                                        <i class="fa fa-reply" aria-hidden="true"></i> @L["Reply"]
                                    </a>
                                    @if (await Authorization.IsGrantedAsync(BloggingPermissions.Comments.Delete))
                                    {
                                        <span class="seperator">|</span>
                                        <a href="#" class="tag deleteLink" data-deleteid="@commentWithRepliesDto.Comment.Id">
                                            <i class="fa fa-trash" aria-hidden="true"></i> @L["Delete"]
                                        </a>
                                    }

                                    @if (await Authorization.IsGrantedAsync(BloggingPermissions.Comments.Update) || (CurrentUser.Id == commentWithRepliesDto.Comment.CreatorId))
                                    {
                                        <span class="seperator">|</span>
                                        <a href="#" class="tag updateLink" data-updateid="@commentWithRepliesDto.Comment.Id">
                                            <i class="fa fa-pencil" aria-hidden="true"></i> @L["Edit"]
                                        </a>
                                    }
                                </div>

                                <div class="comment-form mt-4 replyForm">
                                    <div class="clearfix bg-light p-4">
                                        <h3 class="mt-0">@L["ReplyTo"] Armağan Ünlü</h3>
                                        <div>
                                            <form method="post">
                                                <input name="postId" value="@Model.Post.Id" hidden />
                                                <input name="repliedCommentId" value="@commentWithRepliesDto.Comment.Id" hidden />

                                                <div class="form-group">
                                                    <textarea class="form-control no-border" name="text" id="textBoxId" rows="4"></textarea>
                                                </div>
                                                <abp-button button-type="Primary" class="btn-rounded float-right" type="submit" text="@L["Comment"].Value" />
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                @if (await Authorization.IsGrantedAsync(BloggingPermissions.Comments.Update) || (CurrentUser.Id == commentWithRepliesDto.Comment.CreatorId))
                                {
                                    <div class="comment-form mt-4 editForm">
                                        <div class="clearfix bg-light p-4">
                                            <div>
                                                <form class="editFormClass">
                                                    <input name="commentId" value="@commentWithRepliesDto.Comment.Id" hidden />
                                                    <div class="form-group">
                                                        <textarea class="form-control no-border" name="text" id="textBoxId" rows="4">@commentWithRepliesDto.Comment.Text</textarea>
                                                    </div>
                                                    <abp-button button-type="Primary" class="btn-rounded float-right" type="submit" text="@L["Submit"].Value" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @foreach (var reply in commentWithRepliesDto.Replies)
                                {
                                    <div class="media">
                                        <img class="d-flex mr-3 rounded-circle answer-avatar" src="https://placeimg.com/120/120/people?t=1535457179534" alt="">
                                        <div class="media-body">
                                            <h5 class="comment-owner">
                                                Zlatan Ibrahimovic
                                                <span class="float-right">@ConvertDatetimeToTimeAgo(reply.CreationTime)</span>
                                            </h5>
                                            <p id="@reply.Id">
                                                @reply.Text
                                            </p>
                                            <div class="comment-buttons font-75 bg-light">
                                                <a href="#" class="tag" data-relpyid="@commentWithRepliesDto.Comment.Id">
                                                    <i class="fa fa-reply" aria-hidden="true"></i> @L["Reply"]
                                                </a>

                                                @if (await Authorization.IsGrantedAsync(BloggingPermissions.Comments.Delete) || (CurrentUser.Id == commentWithRepliesDto.Comment.CreatorId))
                                                {
                                                    <span class="seperator">|</span>
                                                    <a href="#" class="tag" data-deleteid="@reply.Id">
                                                        <i class="fa fa-trash" aria-hidden="true"></i> @L["Delete"]
                                                    </a>
                                                }

                                                @if (await Authorization.IsGrantedAsync(BloggingPermissions.Comments.Update) || (CurrentUser.Id == commentWithRepliesDto.Comment.CreatorId))
                                                {
                                                    <span class="seperator">|</span>
                                                    <a href="#" class="tag" data-updateid="@reply.Id">
                                                        <i class="fa fa-pencil" aria-hidden="true"></i> @L["Edit"]
                                                    </a>
                                                }
                                            </div>

                                            <div class="comment-form mt-4 replyForm">
                                                <div class="clearfix bg-light p-4">
                                                    <h3 class="mt-0">@L["ReplyTo"] Armağan Ünlü</h3>
                                                    <div>
                                                        <form method="post">
                                                            <input name="postId" value="@Model.Post.Id" hidden />
                                                            <input name="repliedCommentId" value="@commentWithRepliesDto.Comment.Id" hidden />
                                                            <div class="form-group">
                                                                <textarea class="form-control no-border" name="text" id="textBoxId" rows="4"></textarea>
                                                            </div>
                                                            <abp-button button-type="Primary" class="btn-rounded float-right" type="submit" text="@L["Submit"].Value" />
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            @if (await Authorization.IsGrantedAsync(BloggingPermissions.Comments.Update) || (CurrentUser.Id == commentWithRepliesDto.Comment.CreatorId))
                                            {
                                                <div class="comment-form mt-4 editForm">
                                                    <div class="clearfix bg-light p-4">
                                                        <div>
                                                            <form class="editFormClass">
                                                                <input name="commentId" value="@reply.Id" hidden />
                                                                <div class="form-group">
                                                                    <textarea class="form-control no-border" name="text" id="textBoxId" rows="4">@reply.Text</textarea>
                                                                </div>
                                                                <abp-button button-type="Primary" class="btn-rounded float-right" type="submit" text="@L["Submit"].Value" />
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
