@page
@model Volo.Abp.Identity.Web.Pages.Identity.Users.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Identity.Web.Localization.Resource
@inject IHtmlLocalizer<IdentityResource> L
@section styles {
    <link rel="stylesheet" type="text/css" href="~/modules/identity/views/users/index.css" />
}

@section scripts {
    <script type="text/javascript" src="~/modules/identity/helpers/jquery.js"></script>
    <script type="text/javascript" src="~/modules/identity/helpers/datatables_helper.js"></script>
    <script type="text/javascript" src="~/modules/identity/helpers/ResourceLoader.js"></script>
    <script type="text/javascript" src="~/modules/identity/helpers/ModalManager.js"></script>
    <script type="text/javascript" src="~/modules/identity/views/users/index.js"></script>
}

<abp-card id="IdentityUsersWrapper">
    <abp-card-header>
        <div class="row">
            <div class="col-md-6">
                <h2>@L["Users"]</h2>
            </div>
            <div class="col-md-6 text-right">
                <button type="button" class="btn btn-primary" v-on:click="openCreateModal">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    @L["NewUser"]
                </button>
            </div>
        </div>
    </abp-card-header>
    <abp-card-body>
        <table class="table table-striped nowrap">
            <thead>
                <tr>
                    <th>@L["Actions"]</th>
                    <th>@L["UserName"]</th>
                    <th>@L["EmailAddress"]</th>
                    <th>@L["PhoneNumber"]</th>
                </tr>
            </thead>
        </table>
    </abp-card-body>
</abp-card>