@page
@model Volo.Abp.Identity.Web.Pages.Identity.Users.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Identity.Web.Areas.Identity.Localization.Resource
@inject IHtmlLocalizer<IdentityResource> L
@section styles {
    <!-- TODO: Use minified on production, normal in development -->
    <link rel="stylesheet" type="text/css" href="~/modules/identity/libs/datatables/datatables.css" />
    <link rel="stylesheet" type="text/css" href="~/modules/identity/views/users/index.css" />
}

@section scripts {
    <!-- TODO: Use minified on production, normal in development -->
    <script type="text/javascript" src="~/modules/identity/libs/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/modules/identity/views/users/index.js"></script>
}


<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h2>@L["Users"]</h2>
            </div>
            <div class="col-md-6 text-right">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary create-user" data-toggle="modal">
                    @L["CreateUser"]
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table id="IdentityUsersTable" class="table table-striped table-bordered table-hover nowrap">
            <thead>
            <tr>
                <th>@L["Actions"]</th>
                <th>@L["UserName"]</th>
                <th>@L["EmailAddress"]</th>
                <th>@L["PhoneNumber"]</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createUpdateUserModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>