@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Volo.Abp.Users
@using Volo.Abp.MultiTenancy
@inject ICurrentUser CurrentUser
@inject ICurrentTenant CurrentTenant
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
<AuthorizeView>
    <Authorized>
        <BarDropdown>
            <BarDropdownToggle>
                @if (CurrentTenant.Name != null)
                {
                    <span><i>@CurrentTenant.Name</i>\@CurrentUser.UserName</span>
                }
                else
                {
                    <span>@CurrentUser.UserName</span>
                }
            </BarDropdownToggle>
            <BarDropdownMenu RightAligned="true">
                @if (Menu != null)
                {
                    @foreach (var menuItem in Menu.Items)
                    {
                        <BarDropdownItem Clicked="@(() => NavigateTo(menuItem.Url))">@menuItem.DisplayName</BarDropdownItem>
                    }
                }
                <BarDropdownItem To="@ServerAccountUrl">
                    @UiLocalizer["ManageYourAccount"]
                </BarDropdownItem>
                <DropdownDivider />
                <BarDropdownItem Clicked="BeginSignOut">Logout</BarDropdownItem>
            </BarDropdownMenu>
        </BarDropdown>
    </Authorized>
    <NotAuthorized>
        <BarLink To="authentication/login">Log in</BarLink>
    </NotAuthorized>
</AuthorizeView>
@code{

    private void NavigateTo(string uri)
    {
        Navigation.NavigateTo(uri);
    }

    private async Task BeginSignOut()
    {
        await SignOutManager.SetSignOutState();
        NavigateTo("authentication/logout");
    }
}
