@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.Pages.Components
@model FormsModel

@{
     ViewData["Title"] = "Forms";
}

<h2>Forms</h2>

<p>Based on <a href="http://getbootstrap.com/docs/4.1/components/forms/" target="_blank"> Bootstrap form</a>.</p>

<h4># Dynamic Form Example</h4>

<div class="demo-with-code">
    <div class="demo-area">
        <abp-dynamic-form asp-model="@Model.John">

        </abp-dynamic-form>
    </div>
    <div class="code-area">
        <pre>       
        &lt;abp-dynamic-form asp-model=&quot;Model.John&quot; &gt;
        &lt;/abp-dynamic-form&gt;
        </pre>
    </div>
</div>


@*<h4># Input Group Example</h4>

    <div class="demo-with-code">
        <div class="demo-area">
            <form method="post" action="#">
                <abp-input asp-for="@Model.Name" />
                <abp-input asp-for="@Model.Password" label="Password" />
                <abp-input asp-for="@Model.IsActive" />
                <abp-input asp-for="@Model.PhoneNumber" />
                <abp-input asp-for="@Model.EmailAddress" />
                <abp-input asp-for="@Model.Count" />
                <abp-input asp-for="@Model.Day" />
                <abp-select asp-for="@Model.Country" asp-items="@Model.Countries" label="Country"></abp-select>
                <abp-select asp-for="@Model.City" asp-items="@Html.GetEnumSelectList(typeof(Cities))"></abp-select>
            </form>
        </div>
        <div class="code-area">
            <pre>
            &lt;form method=&quot;post&quot; action=&quot;#&quot;&gt;
                &lt;abp-input asp-for=&quot;Model.Name&quot;/&gt;
                &lt;abp-input asp-for=&quot;Model.Password&quot; label=&quot;Password&quot;/&gt;
                &lt;abp-input asp-for=&quot;Model.IsActive&quot; /&gt;
                &lt;abp-input asp-for=&quot;Model.PhoneNumber&quot; /&gt;
                &lt;abp-input asp-for=&quot;Model.EmailAddress&quot; /&gt;
                &lt;abp-input asp-for=&quot;Model.Count&quot; /&gt;
                &lt;abp-input asp-for=&quot;Model.Day&quot; /&gt;
                &lt;abp-select asp-for=&quot;Model.Country&quot; asp-items=&quot;Model.Countries&quot; label=&quot;Country&quot;&gt;&lt;/abp-select&gt;
                &lt;abp-select asp-for=&quot;Model.City&quot; asp-items=&quot;Html.GetEnumSelectList(typeof(Cities))&quot;&gt;&lt;/abp-select&gt;
            &lt;/form&gt;
            </pre>
        </div>
    </div>*@

@*<div class="demo-with-code">
        <div class="demo-area">
            <form method="post" action="#">
                <abp-form-group>
                    <abp-select asp-for="@Model.Country" asp-items="@Model.Countries"></abp-select>
                </abp-form-group>
                <abp-form-group>
                    <abp-select asp-for="@Model.City" asp-items="@Html.GetEnumSelectList(typeof(Cities))"></abp-select>
                </abp-form-group>
                <abp-form-group>
                    <abp-input asp-for="@Model.Name" />
                </abp-form-group>
                <abp-form-group>
                    <abp-input asp-for="@Model.Password" />
                </abp-form-group>
                <abp-form-group>
                    <abp-input asp-for="@Model.PhoneNumber" />
                </abp-form-group>
                <abp-form-group>
                    <abp-input asp-for="@Model.EmailAddress" />
                </abp-form-group>
                <abp-form-group>
                    <abp-input asp-for="@Model.Count" />
                </abp-form-group>
                <abp-form-group>
                    <abp-input asp-for="@Model.Day" />
                </abp-form-group>
                <abp-form-group>
                    <abp-input asp-for="@Model.IsActive" />
                </abp-form-group>
            </form>
        </div>
        <div class="code-area">
            <pre>
            &lt;form method=&quot;post&quot; action=&quot;#&quot;&gt;
                &lt;abp-form-group&gt;
                    &lt;abp-select asp-for=&quot;@Model.Country&quot; asp-items=&quot;@Model.Countries&quot;&gt;&lt;/abp-select&gt;
                &lt;/abp-form-group&gt;
                &lt;abp-form-group&gt;
                    &lt;abp-select asp-for=&quot;@Model.City&quot; asp-items=&quot;@Html.GetEnumSelectList(typeof(Cities))&quot;&gt;&lt;/abp-select&gt;
                &lt;/abp-form-group&gt;
                &lt;abp-form-group&gt;
                    &lt;abp-input asp-for=&quot;@Model.Name&quot; /&gt;
                &lt;/abp-form-group&gt;
                &lt;abp-form-group&gt;
                    &lt;abp-input asp-for=&quot;@Model.Password&quot; /&gt;
                &lt;/abp-form-group&gt;
                &lt;abp-form-group&gt;
                    &lt;abp-input asp-for=&quot;@Model.PhoneNumber&quot; /&gt;
                &lt;/abp-form-group&gt;
                &lt;abp-form-group&gt;
                    &lt;abp-input asp-for=&quot;@Model.EmailAddress&quot; /&gt;
                &lt;/abp-form-group&gt;
                &lt;abp-form-group&gt;
                    &lt;abp-input asp-for=&quot;@Model.Count&quot; /&gt;
                &lt;/abp-form-group&gt;
                &lt;abp-form-group&gt;
                    &lt;abp-input asp-for=&quot;@Model.Day&quot; /&gt;
                &lt;/abp-form-group&gt;
                &lt;abp-form-group&gt;
                    &lt;abp-input asp-for=&quot;@Model.IsActive&quot; /&gt;
                &lt;/abp-form-group&gt;
            &lt;/form&gt;
            </pre>
        </div>
    </div>*@