@page
@model Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.Pages.Components.FormsModel
@{
    ViewData["Title"] = "Forms";
}

<h2>Forms</h2>

<p>Based on <a href="http://getbootstrap.com/docs/4.1/components/forms/" target="_blank"> Bootstrap form</a>.</p>

<h4># Example</h4>

<div class="demo-with-code">
    <div class="demo-area">
        <form method="post" action="#">
            <abp-form-group>
                <abp-input asp-for="@Model.Name" />
            </abp-form-group>
            <abp-form-group>
                <abp-input asp-for="@Model.Password" />
            </abp-form-group>
            <abp-form-group>
                <abp-input asp-for="@Model.PhoneNumber" />
            </abp-form-group>
            <abp-form-group>
                <abp-input asp-for="@Model.EmailAddress" />
            </abp-form-group>
            <abp-form-group>
                <abp-input asp-for="@Model.Count" />
            </abp-form-group>
            <abp-form-group>
                <abp-input asp-for="@Model.Day" />
            </abp-form-group>
            <abp-form-group>
                <abp-input asp-for="@Model.IsActive" />
            </abp-form-group>
        </form>
    </div>
    <div class="code-area">
        <pre>       
        &lt;abp-form-group&gt;
            &lt;abp-input asp-for=&quot;@Model.Name&quot; /&gt;
        &lt;/abp-form-group&gt;
        &lt;abp-form-group&gt;
            &lt;abp-input asp-for=&quot;@Model.Password&quot; /&gt;
        &lt;/abp-form-group&gt;
        &lt;abp-form-group&gt;
            &lt;abp-input asp-for=&quot;@Model.PhoneNumber&quot; /&gt;
        &lt;/abp-form-group&gt;
        &lt;abp-form-group&gt;
            &lt;abp-input asp-for=&quot;@Model.EmailAddress&quot; /&gt;
        &lt;/abp-form-group&gt;
        &lt;abp-form-group&gt;
            &lt;abp-input asp-for=&quot;@Model.Count&quot; /&gt;
        &lt;/abp-form-group&gt;
        &lt;abp-form-group&gt;
            &lt;abp-input asp-for=&quot;@Model.Day&quot; /&gt;
        &lt;/abp-form-group&gt;
        &lt;abp-form-group&gt;
            &lt;abp-input asp-for=&quot;@Model.IsActive&quot; /&gt;
        &lt;/abp-form-group&gt;
        </pre>
    </div>
</div>