@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Identity.Localization
@using Volo.Abp.Identity.Web.Pages.Identity.Roles
@model IndexModel
@inject IHtmlLocalizer<IdentityResource> L
@section styles {
    <abp-style-bundle name="@typeof(IndexModel).FullName">
        <abp-bundle-file src="/pages/identity/roles/index.css" />
    </abp-style-bundle>
}
@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-bundle-file src="/pages/abp-permission-management/permission-management-modal.js" />
        <abp-bundle-file src="/pages/identity/roles/index.js" />
    </abp-script-bundle>
}
<abp-card id="IdentityRolesWrapper">
    <abp-card-header>
        <div class="row">
            <div class="col-md-6">
                <h2>@L["Roles"]</h2>
            </div>
            <div class="col-md-6 text-right">
                <button type="button" name="CreateRole" class="btn btn-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    @L["NewRole"]
                </button>
            </div>
        </div>
    </abp-card-header>
    <abp-card-body>
        <table class="table table-striped nowrap">
            <thead>
                <tr>
                    <th>@L["Actions"]</th>
                    <th>@L["RoleName"]</th>
                </tr>
            </thead>
        </table>
    </abp-card-body>
</abp-card>