@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Identity.Localization
@using Volo.Abp.Identity.Web.Pages.Identity.Roles
@model IndexModel
@inject IHtmlLocalizer<IdentityResource> L
@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-script src="/pages/abp-permission-management/permission-management-modal.js" />
        <abp-script src="/pages/identity/roles/index.js" />
    </abp-script-bundle>
}
<abp-card id="IdentityRolesWrapper">
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <h2>@L["Roles"]</h2>
            </abp-column>
            <abp-column size-md="_6" class="text-right">
                <abp-button button-type="Primary" name="CreateRole" text="@L["NewRole"].Value" icon="plus"/>
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" class="nowrap">
                <thead>
                    <tr>
                        <th>@L["Actions"]</th>
                        <th>@L["RoleName"]</th>
                    </tr>
                </thead>
        </abp-table>
    </abp-card-body>
</abp-card>