@typeparam TItem
<CascadingValue Value="this" IsFixed="true">
    @if ( Type == ActionType.Dropdown )
    {
        <Dropdown>
            @if ( HasPrimaryAction )
            {
                <Button Block="true"
                        Color="@PrimaryAction.Color"
                        Clicked="async ()=> await PrimaryAction.ActionClickedAsync()">
                    @PrimaryAction.Text
                </Button>
                <DropdownToggle Color="@ToggleColor" Size="@Size" Split="true" />
            }
            else
            {
                <DropdownToggle Class="btn-block" Color="@ToggleColor" Size="@Size">
                    @ToggleText
                </DropdownToggle>
            }
            <DropdownMenu>
                @ChildContent
            </DropdownMenu>
        </Dropdown>
    }
    else
    {
        @ChildContent
    }
</CascadingValue>