@page

@using Volo.CmsKit.Admin.Web.Pages.CmsKit.Menus.MenuItems
@using Volo.CmsKit.Admin.Web.Pages
@using Volo.CmsKit.Admin.Web.Menus
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageToolbar
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.JsTree

@inherits CmsKitAdminPageBase

@model IndexModel

@{
    PageLayout.Content.Title = L["MenuItems"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:CMS"].Value);
    PageLayout.Content.BreadCrumb.Add(L["Menu:Menus"].Value, "/Cms/Menus");
    PageLayout.Content.MenuItemName = CmsKitAdminMenus.Menus.MenusMenu;
}

@section styles {
    <abp-style-bundle name="@typeof(IndexModel).FullName">
        <abp-style type="typeof(JsTreeStyleContributor)" />
        <abp-script src="/Pages/CmsKit/Menus/MenuItems/index.css" />
    </abp-style-bundle>
}

@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-style type="typeof(JsTreeScriptContributor)" />
        <abp-script src="/Pages/CmsKit/Menus/MenuItems/index.js" />
    </abp-script-bundle>
}

@section content_toolbar {
    @await Component.InvokeAsync(typeof(AbpPageToolbarViewComponent), new { pageName = typeof(IndexModel).FullName })
}

<div id="CmsKitMenuItemsWrapper" data-menu-id="@Model.Id">
    <abp-card>
        <abp-card-body>
            <abp-card-title>
               @Model.Menu.Name @L["MenuItems"]
            </abp-card-title>

            <div id="MenuItemsEditTree"></div>
            <div id="MenuItemsTreeEmptyInfo" class="text-muted">@L["NoMenuItems"]</div>
        </abp-card-body>
    </abp-card>
</div>