@using Volo.Abp.Ui.LayoutHooks
@using Volo.Abp.AspNetCore.Components.Web.Theming.Components.LayoutHooks
@using Volo.Abp.AspNetCore.Components.Web.Theming.Components
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@inherits LayoutComponentBase

@*
 * If a component use `prerender: true` it should use same references with the client app. (MenuContributor, etc.)
 *@

<nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm flex-column flex-md-row mb-4" id="main-navbar" style="min-height: 4rem;">
    <div class="container">
        <Branding />
        <button @onclick="ToggleCollapse" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#main-navbar-collapse" aria-controls="main-navbar-collapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @(IsCollapseShown ? "show" : "")" id="main-navbar-collapse">
            <ul class="navbar-nav mx-auto">
                @* Use same menu contributor with the client app *@
                <NavMenu @rendermode="new InteractiveAutoRenderMode(prerender: false)" />
            </ul>
            <NavToolbar @rendermode="new InteractiveAutoRenderMode(prerender: false)" />
        </div>
    </div>
</nav>
<div class="container">
    <PageAlert @rendermode="new InteractiveAutoRenderMode(prerender: false)" />
    <LayoutHook Name="@LayoutHooks.Body.First" Layout="@StandardLayouts.Application" />
    @Body
    <LayoutHook Name="@LayoutHooks.Body.Last" Layout="@StandardLayouts.Application" />
    <DynamicLayoutComponent @rendermode="new InteractiveAutoRenderMode(prerender: true)"/>

    <UiMessageAlert @rendermode="new InteractiveAutoRenderMode(prerender: false)"/>
    <UiNotificationAlert @rendermode="new InteractiveAutoRenderMode(prerender: false)"/>
    <UiPageProgress @rendermode="new InteractiveAutoRenderMode(prerender: false)" />
</div>