@page
@using Microsoft.AspNetCore.Authorization
@using ProductManagement
@inherits ProductManagement.Pages.ProductManagement.ProductManagementPage
@model ProductManagement.Pages.ProductManagement.Products.IndexModel
@inject IAuthorizationService Authorization
@{
    ViewBag.PageTitle = "Products";
}

@section scripts {
    <abp-script src="/Pages/ProductManagement/Products/index.js" />
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <h2>@L["Products"]</h2>
            </abp-column>
            <abp-column size-md="_6" class="text-right">
                @if (await Authorization.IsGrantedAsync(ProductManagementPermissions.Products.Create))
                {
                    <abp-button icon="plus" text="@L["CreateANewProduct"].Value" button-type="Primary" id="CreateNewProductButtonId"></abp-button>
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="ProductsTable" class="nowrap">
            <thead>
                <tr>
                    <th>@L["Actions"]</th>
                    <th>@L["Code"]</th>
                    <th>@L["Name"]</th>
                    <th>@L["Price"]</th>
                    <th>@L["StockCount"]</th>
                </tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>
