@page
@using System.Globalization
@using System.Net
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.Extensions.Options
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Volo.Docs.Areas.Documents.Helpers
@using Volo.Docs
@using Volo.Docs.Pages.Documents.Project
@inject IThemeManager ThemeManager
@model IndexModel
@{
    ViewBag.FluidLayout = true;
    Layout = ThemeManager.CurrentTheme.GetEmptyLayout();
}
@section styles {
    <abp-style-bundle name="@typeof(IndexModel).FullName">
        <abp-style src="/Pages/Documents/vs.css" />
        <abp-style src="/lib/prism/prism.css" />
        <abp-style src="/lib/mCustomScrollbar/jquery.mCustomScrollbar.min.css" />
        <abp-style src="/lib/bootstrap-toc/bootstrap-toc.css" />
    </abp-style-bundle>
}

@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-script src="/Pages/Documents/Project/index.js" />
        <abp-script src="/lib/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js" />
        <abp-script src="/lib/prism/prism.js" />
        <abp-script src="/lib/popper.js/dist/umd/popper.min.js" />
        <abp-script src="/lib/bootstrap-toc/bootstrap-toc.js" />
        <abp-script src="/Pages/Documents/vs.js" />
    </abp-script-bundle>
} 
<div class="docs-page" data-spy="scroll" data-target="#docs-sticky-index">
    <div class="row justify-content-end">
        <div class="col-md-3 docs-sidebar dark-sidebar">
            <div class="docs-sidebar-wrapper">
                <div class="docs-top">
                    <nav class="navbar navbar-logo">
                        <a class="navbar-brand" href="index.html">
                            ASP.NET ZERO
                            <br><strong class="display-block">Documentation</strong>
                        </a>
                        <a href="#" class="go-back-site"><i class="fa fa-chevron-left"></i> Back to Website</a>
                        <div class="for-mobile">
                            <div class="navbar-light">
                                <button type="button" class="open-dmenu navbar-toggler" aria-label="Close">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </div>
                        </div>
                    </nav>

                </div>
                <div class="docs-tree-list">
                    <div class="docs-search">
                        <form class="form-inline">
                            <input class="form-control" type="search" placeholder="Filter Topics" aria-label="Search">
                            <button class="my-2 btn btn-search my-sm-0" type="submit">
                                <i class="fa fa-filter"></i>
                            </button>
                        </form>

                    </div>
                        @if (Model.Versions.Any())
                        {
                            <div class="docs-version">
                                <div class="version-select">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" >Version</label>

                                        </div> 
                                            @Html.DropDownList("Version", Model.Versions.Select(v => new SelectListItem
                                            {
                                                Text = v.DisplayText,
                                                Value = "/documents/" + Model.ProjectName + "/" + v.Version + "/" + Model.DocumentName,
                                                Selected = v.IsSelected
                                            }), new {@class = "form-control"}) 
                                    </div>
                                </div>
                            </div>
                        }

                    <ul root-node="@Model.Navigation.RootNode"
                        version="@(Model.Version.IsNullOrEmpty() ? "latest" : Model.Version)"
                        project-name="@Model.ProjectName"
                        selected-document-name="@Model.DocumentName"
                        id="sidebar-scroll"
                        class="nav nav-list"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-7 docs-content bg-white">

            <div class="docs-link-btns">

                @if (!string.IsNullOrEmpty(Model.Document.EditLink))
                {
                    <a href="@Model.Document.EditLink" target="_blank"> <i class="fa fa-edit"></i> Edit @*TODO: localize*@</a>
                }
            </div>

            <div class="docs-content-field">
                <div class="docs-text-field">
                    <div data-spy="scroll" data-target="#docs-sticky-index" data-offset="0">
                        <article class="docs-body">
                            @Html.Raw(Model.Document.Content)

                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 docs-page-index position-relative bg-light">
            <div class="docs-inner-anchors mt-2">
                <nav  class="navbar p-0 pt-2" data-toggle="toc">
                    <h5 class="inner-title">In this article</h5>
                </nav>
                <div class="row">
                    <div class="col mt-4 p-0">
                        <a href="javascript:;" class="scroll-top-btn"><i class="fa fa-chevron-up"></i> Go to Top</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>