@page
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Volo.Docs.Pages.Documents.Project
@inject IThemeManager ThemeManager
@model IndexModel
@{
    ViewBag.FluidLayout = true;
    Layout = ThemeManager.CurrentTheme.GetEmptyLayout();
}
@section styles {
    <abp-style-bundle name="@typeof(IndexModel).FullName">
        <abp-style src="/Pages/Documents/vs.css" />
        <abp-style src="/lib/prismjs/themes/prism-twilight.css" />
        <abp-style src="/lib/prismjs/plugins/line-highlight/prism-line-highlight.css" />
        <abp-style src="/lib/prismjs/plugins/toolbar/prism-toolbar.css" />
        <abp-style src="/lib/mCustomScrollbar/jquery.mCustomScrollbar.min.css" />
        <abp-style src="/lib/bootstrap-toc/bootstrap-toc.css" />
    </abp-style-bundle>
}

@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-script src="/lib/anchor-js/anchor.js" />
        <abp-script src="/Pages/Documents/Project/index.js" />
        <abp-script src="/lib/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js" />
        <abp-script src="/lib/clipboard/dist/clipboard.js" />
        <abp-script src="/lib/prismjs/prism.js" />
        <abp-script src="/lib/prismjs/plugins/toolbar/prism-toolbar.js" />
        <abp-script src="/lib/prismjs/plugins/show-language/prism-show-language.js" />
        <abp-script src="/lib/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.js" />
        <abp-script src="/lib/prismjs/plugins/line-highlight/prism-line-highlight.js" />
        <abp-script src="/lib/prismjs/components/prism-csharp.js" />
        <abp-script src="/lib/popper.js/dist/umd/popper.min.js" />
        <abp-script src="/lib/bootstrap-toc/bootstrap-toc.js" />
        <abp-script src="/Pages/Documents/vs.js" />
    </abp-script-bundle>
}
<div class="docs-page" data-spy="scroll" data-target="#docs-sticky-index">
    <div class="row justify-content-end">
        <div class="col-md-3 docs-sidebar dark-sidebar">
            <div class="docs-sidebar-wrapper">

                <div class="docs-top">
                    <nav class="navbar navbar-logo">

                        <a class="navbar-brand w-100" href="/">
                            @Model.ProjectName<br>
                            <strong class="display-block">
                                Documents
                            </strong>
                        </a>

                        <a href="@Model.Document.Project.MainWebsiteUrl" class="go-back-site">
                            <i class="fa fa-chevron-left"></i>
                            Back to Website
                        </a>

                        <div class="for-mobile">
                            <div class="navbar-light">
                                <button type="button" class="open-dmenu navbar-toggler" aria-label="Close">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="docs-tree-list">
                    <div class="docs-filter">
                        <input class="form-control" type="search" placeholder="Filter topics" aria-label="Filter">

                        <span class="my-2 filter-icon my-sm-0">
                            <i class="fa fa-filter"></i>
                        </span>
                    </div>

                    @if (Model.Versions.Any())
                    {
                        <div class="docs-version">
                            <div class="version-select">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">Version</label>
                                    </div>

                                    <select asp-items="Model.VersionSelectItems" class="form-control" onchange="window.location.replace(this.value)"></select>
                                </div>
                            </div>
                        </div>
                    }

                    <ul root-node="@Model.Navigation.RootNode"
                        version="@(Model.Version.IsNullOrEmpty() ? "latest" : Model.Version)"
                        project-name="@Model.ProjectName"
                        selected-document-name="@Model.DocumentName"
                        id="sidebar-scroll"
                        class="nav nav-list"></ul>
                </div>

            </div>
        </div>

        <div class="col-md-7 docs-content bg-white">

            <div class="docs-link-btns">
                @if (!string.IsNullOrEmpty(Model.Document.EditLink))
                {
                    <a href="@Model.Document.EditLink" target="_blank"> <i class="fa fa-edit"></i> Edit @*TODO: localize*@</a>
                }
            </div>

            <div class="docs-content-field">
                <div class="docs-text-field">
                    <div data-spy="scroll" data-target="#docs-sticky-index" data-offset="0">
                        <article class="docs-body">
                            @Html.Raw(Model.Document.Content)
                        </article>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-2 docs-page-index position-relative bg-light">

            <div class="docs-inner-anchors mt-2">
                <nav class="navbar p-0 pt-2" data-toggle="toc">
                    <h5 class="inner-title">In this article</h5>
                </nav>

                <div class="row">
                    <div class="col mt-4 p-0">
                        <a href="javascript:;" class="scroll-top-btn"><i class="fa fa-chevron-up"></i> Go to Top</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>