@page

@using Castle.Core.Internal
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Docs
@using Volo.Docs.Localization
@using Volo.Docs.Pages.Documents

@model VoloDocs.Pages.IndexModel
@inject IHtmlLocalizer<DocsResource> L

@section styles {
    <abp-style-bundle name="@typeof(IndexModel).FullName">
        <abp-style src="/Pages/Documents/Shared/Styles/vs.css" />
        <abp-style src="/assets/fa/css/font-awesome.min.css" />
    </abp-style-bundle>
}

<h3>Welcome to the VoloDocs!</h3>


<p>1- CHECK APPSETTINGS.JSON IS CONFIGURED </p>
<p>2- CHECK DATABASE EXIST </p>
<p>2- CHECK ANY PROJECT </p>

<p>
    <a href="/Documents">Go to documents...</a>
</p>
<p>
    <a href="/Docs/Admin/Projects">Create project</a>
</p>
<p>
    <a href="/Admin">Go to admin...</a>
</p>

<p>
    <a href="/account/login">Login</a>
</p>

<div class="p-5">

    @if (!Model.Projects.Any())
    {
    <div class="alert alert-secondary col-md-6 text-center" role="alert">
        <h4 class="alert-heading">No project!</h4>
        <p>Welcome to VoloDocs! There`s no defined project yet.</p>
        <hr />
        <a href="@Model.CreateProjectLink">Click here to start your first project <i class="fa fa-arrow-circle-right"></i></a>
 
    </div>
    }
    else if (Model.Projects.Count > 1)
    {
        <h1>@L["Projects"]</h1>
        <p>
            <ul style="list-style-type: upper-roman;">
                @foreach (var project in Model.Projects)
                {
                    <li>
                        <h3>
                            <a asp-page="./Project/Index"
                               asp-route-projectName="@project.ShortName"
                               asp-route-version="@DocsAppConsts.Latest">
                                @project.Name
                            </a>
                        </h3>
                    </li>
                }
            </ul>
        </p>
    }

</div>
