@model Volo.CmsKit.Web.Pages.CmsKit.Shared.Components.ReactionSelection.ReactionSelectionViewModel
<span class="cms-reaction-selection">
    <div class="cms-reaction-selection-available-reactions">
        Pick a reaction:
        @foreach (var reaction in Model.Reactions)
        {
            <cms-icon name="@reaction.Icon" highlight="@reaction.IsSelectedByCurrentUser"/>
        }
    </div>
    <div class="cms-reaction-selection-reactions">
        @foreach (var reaction in Model.Reactions.Where(r => r.Count > 0))
        {
            <cms-icon name="@reaction.Icon" highlight="@reaction.IsSelectedByCurrentUser"/><span> - @reaction.Count |</span>
        }
    </div>
</span>
