@model Volo.CmsKit.Web.Pages.CmsKit.Shared.Components.ReactionSelection.ReactionSelectionViewComponent.ReactionSelectionViewModel
<span class="cms-reaction-area" data-entity-type="@Model.EntityType" data-entity-id="@Model.EntityId">
    <a class="cms-reaction-select-icon" tabindex="0"><i class="fa fa-smile-o"></i></a>
    <div class="cms-reaction-selection-popover-content" style="display: none">
        @foreach (var reaction in Model.Reactions)
        {
            <span class="mr-1 cms-reaction-icon @(reaction.IsSelectedByCurrentUser ? "cms-reaction-icon-selected" : "")" data-reaction-name="@reaction.Name">
                <img src="@reaction.Icon" width="18" height="18"/>
            </span>
        }
    </div>
    @foreach (var reaction in Model.Reactions.Where(r => r.Count > 0))
    {
        <span class="mr-1 cms-reaction-icon @(reaction.IsSelectedByCurrentUser ? "cms-reaction-icon-selected" : "")" data-reaction-name="@reaction.Name">
            <img src="@reaction.Icon" width="18" height="18"/>
            @(reaction.Count)
        </span>
    }
</span>
