@page
@model Volo.Abp.Account.Web.Pages.Account.RegisterModel
@inherits Volo.Abp.Account.Web.Pages.Account.AccountPage

    <div class="card mt-3 shadow-sm rounded">
        <div class="card-body p-5">
            <h4>@L["Register"]</h4>
            <strong>
                @L["AlreadyRegistered"]
                <a href="@Url.Page("./Login", new {returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash})" class="text-decoration-none">@L["Login"]</a>
            </strong>
            <form method="post" class="mt-4">
                <abp-input asp-for="Input.UserName" auto-focus="true" />
                <abp-input asp-for="Input.EmailAddress" />
                <abp-input asp-for="Input.Password" />
                <abp-button button-type="Primary" type="submit" class="btn-lg btn-block mt-4">@L["Register"]</abp-button>
            </form>
        </div>
    </div>
