@page
@inject IHtmlLocalizer<AccountResource> L
@inject IHtmlLocalizer<IdentityResource> LI
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Identity.Localization
@model Volo.Abp.Account.Web.Pages.Account.ResetPasswordModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
<div class="card mt-3 shadow-sm rounded">
    <div class="card-body p-5">
        <h4>@L["ResetPassword"]</h4>
        @if (Model.InvalidToken)
        {
            <div class="alert alert-danger">
                @LI["Volo.Abp.Identity:InvalidToken"]
            </div>
        }
        else
        {
            <form method="post">
                <p>@L["ResetPassword_Information"]</p>
                <abp-input asp-for="UserId"/>
                <abp-input asp-for="ResetToken"/>
                <abp-input asp-for="Password" autocomplete="new-password" />
                <abp-input asp-for="ConfirmPassword" autocomplete="new-password" />
                <a abp-button="Secondary" asp-page="./Login">@L["Cancel"]</a>
                <abp-button type="submit" button-type="Primary" text="@L["Submit"].Value"/>
            </form>
        }
    </div>
</div>
