@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.SettingManagement.Localization
@inject IHtmlLocalizer<AbpSettingManagementResource> L
@model Volo.Abp.SettingManagement.UpdateEmailSettingsDto

<form id="EmailSettingsForm" method="post">
    <abp-row>
        <abp-column size-md="_12">
            <div>
                <abp-input asp-for="DefaultFromDisplayName" label="@(L["DefaultFromDisplayName"].Value + " * ")" />
                <abp-input asp-for="DefaultFromAddress" label="@(L["DefaultFromAddress"].Value + " * ")" />
                <abp-input asp-for="SmtpHost" label="@L["SmtpHost"].Value" />
                <abp-input asp-for="SmtpPort" label="@L["SmtpPort"].Value" />
                <abp-input asp-for="SmtpEnableSsl" label="@L["SmtpEnableSsl"].Value" />
                <abp-input asp-for="SmtpUseDefaultCredentials" label="@L["SmtpUseDefaultCredentials"].Value" />
                <div id="HideSectionWhenUseDefaultCredentialsIsChecked" @Html.Raw(Model.SmtpUseDefaultCredentials ? "style=\"display: none;\"" : "")>
                    <abp-input asp-for="SmtpDomain" label="@L["SmtpDomain"].Value" />
                    <abp-input asp-for="SmtpUserName" label="@L["SmtpUserName"].Value" />
                    <abp-input type="password" asp-for="SmtpPassword" label="@L["SmtpPassword"].Value" />
                </div>
            </div>
            <hr class="my-4" />
            <div>
                <abp-button button-type="Primary" type="submit"><i class="fa fa-save"></i> @L["Save"]</abp-button>
            </div>
        </abp-column>
    </abp-row>
</form>
