@page
@using AbpDesk.Web.Mvc.Pages.App.Tickets
@using Volo.Abp.Users
@model AbpDesk.Web.Mvc.Pages.App.Tickets.IndexModel
@inject ICurrentUser CurrentUser;

@section styles
    {
    <link rel="stylesheet" type="text/css" href="~/global-styles.css" />
}

<h2>Tickets</h2>

<ul class="ticket-list">
    @foreach (var ticket in Model.Tickets)
    {
        <li data-entity-id="@ticket.Id">
            <h3>@ticket.Title</h3>
            <p>@ticket.Body</p>
        </li>
    }
</ul>

<p>
    Roles: @CurrentUser.Roles.JoinAsString(", ") <br />
    IsInRole Supporter: @User.IsInRole("Supporter") <br />
    IsInRole Supporter: @CurrentUser.IsInRole("Supporter")
</p>

<h4>Claims</h4>

<ul>
    @foreach (var claim in User.Claims)
    {
        <li>@claim.Type : @claim.Value</li>
    }
</ul>